<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.qassioun.android.sdk">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application>
        <uses-library android:name="android.test.runner"/>
    </application>

    <!--<instrumentation android:name="com.qassioun.android.sdk.test.InstrumentationTestRunner"-->
        <!--android:targetPackage="com.qassioun.android.sdk"/>-->

</manifest>
